<a href="https://colab.research.google.com/github/Jack3690/INSIST/blob/main/UV_Stellar_Catalog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install pysynphot --quiet
!pip install git+https://github.com/rlwastro/mastcasjobs@master --quiet

  Building wheel for mastcasjobs (setup.py) ... done
  Building wheel for casjobs (setup.py) ... done

In [7]:
!export PYSYN_CDBS=/my/local/dir/trds/

In [8]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sb

from astropy import units as u
from astropy.coordinates import SkyCoord
from astropy.stats import gaussian_fwhm_to_sigma, gaussian_sigma_to_fwhm
from astropy.modeling import models, fitting
from astropy.visualization import LogStretch
from astropy.visualization.mpl_normalize import ImageNormalize
from astropy import wcs
from matplotlib import cm
from matplotlib.colors import ListedColormap, LinearSegmentedColormap

import os
from time import perf_counter
import json
import requests
import pysynphot

import mastcasjobs

# get the WSID and password if not already defined
if not os.environ.get('CASJOBS_USERID'):
    os.environ['CASJOBS_USERID'] = "avinashck90"
if not os.environ.get('CASJOBS_PW'):
    os.environ['CASJOBS_PW'] = "INSIST369"

sb.set_style('dark')
matplotlib.rcParams['font.size']=12
matplotlib.rcParams['figure.figsize']=(10,10)

In [9]:
def mastQuery(request, json_return=False):
    """Perform a MAST query.

    Parameters
    ----------
    request (dictionary): The MAST request json object
    
    Returns the text response or (if json_return=True) the json response
    """
    
    url = "https://mast.stsci.edu/api/v0/invoke"

    # Encoding the request as a json string
    requestString = json.dumps(request)
    
    # make the query
    r = requests.post(url, data=dict(request=requestString))
    
    # raise exception on error
    r.raise_for_status()
    
    if json_return:
        return r.json()
    else:
        return r.text


def resolve(name):
    """Get the RA and Dec for an object using the MAST name resolver
    
    Parameters
    ----------
    name (str): Name of object

    Returns RA, Dec tuple with position"""

    resolverRequest = {'service':'Mast.Name.Lookup',
                       'params':{'input':name,
                                 'format':'json'
                                },
                      }
    resolvedObject = mastQuery(resolverRequest, json_return=True)
    # The resolver returns a variety of information about the resolved object, 
    # however for our purposes all we need are the RA and Dec
    try:
        objRa = resolvedObject['resolvedCoordinate'][0]['ra']
        objDec = resolvedObject['resolvedCoordinate'][0]['decl']
    except IndexError as e:
        raise ValueError("Unknown object '{}'".format(name))
    return (objRa, objDec)

In [12]:
class casjobs():
    """PSF Generator using Source catalog or CasJobs GALEX Catalog

    Parameters
    ----------
    name (string) : Catalog name or coordinates of the source

    df   (pd.DataFrame ): Pandas dataframe with source catalog

    cols (dict) : dict object with column name conversions for ra,dec,mag_nuv. Eg {'RA': 'ra','Dec' : 'dec', 'ABmag' : 'mag_nuv'}

        'ra' (degrees)

        'dec' (degrees)

        'mag_nuv' (ABmag)

    pixel_scale (float) : pixel scale of detector in the unit of arcseconds/pixels

    fwhm_in (float) : Full Width at Half Maximum of the Gaussian PSF

    n_pix_main (int) : Number of pixels along one axis in the detector. Total number of pixels in the detector is n_pix_main**2

    n_pix_sub (int) : Number of pixels along one axis in the path. Total number of pixels in the patch is n_pix_sub**2

    """
    def __init__(self,name = 'M 67'):   


        self.name = name
        self.ra,self.dec = resolve(name)
    
        self.jobs = mastcasjobs.MastCasJobs(context="PanSTARRS_DR2")
        self.query =   f"""select psc.objid, psc.ps_score, o.nDetections, o.nStackDetections
                          from fGetNearbyObjEq({self.ra}, {self.dec}, 1.0) f
                          join ObjectThin o on o.objid=f.objid
                          join HLSP_PS1_PSC.pointsource_scores psc on psc.objid=f.objid
                        """
        self.df = self.jobs.quick(self.query, task_name="python cone search").to_pandas()  
    
    def show_field(self,figsize=(10,10)):
      """
      Function for creating a scatter plot of sources within the FoV
      
      Returns
      -------
      fig, ax
      """
        
      fig, ax = plt.subplots(1,1,figsize=figsize)
      ax.scatter(self.df['ra'],self.df['dec'],marker='.',color='black')
      ax.set_title(f" Requested Center : {self.name} \n  {len(self.df)} sources")
      ax.invert_xaxis()
      ax.set_xlabel('RA (Degrees)')
      ax.set_ylabel('Dec (Degrees)')
      return fig,ax

In [13]:
obj = casjobs('M 67')

In [14]:
obj.df

                 objid  ps_score  nDetections  nStackDetections
0   122161328211469455  0.673545           81                 5
1   122161328287312473  0.030042            3                 3
2   122161328290887725  0.983333           78                 5
3   122161328300379500  0.977917           74                 5
4   122161328306853471  0.046208           51                 5
5   122161328373540162  0.866167           47                 5
6   122161328389063238  0.939345           62                 5
7   122161328470049315  0.972292           55                 5
8   122171328211340801  0.799708           80                 5
9   122171328287621300  0.856661           62                 5
10  122171328328753024  0.991875           78                 5
11  122171328362770974  0.939522           66                 5
12  122171328367893080  0.854649           41                 5
13  122171328369627060  0.927500           42                 4
14  122171328429634929  0.644643           46                 5
15  122171328455166964  0.972500           61                 4
16  122181328186650533  0.992917           74                 5
17  122181328242644963  0.650417           21                 3
18  122181328272917659  1.000000           79                 5
19  122181328301298597  0.961250           80                 5
20  122181328384135830  0.950562           65                 5
21  122181328400801321  1.000000           78                 5
22  122181328418565335  0.951917           68                 5
23  122181328479442426  0.982833           62                 5
24  122191328296673526  0.955194           62                 5
25  122191328320383525  1.000000           77                 5